:root {
  --content-width: 800px;
  --dark-blue: #2f393b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  line-height: 2;
  /* font-family: 微軟正黑體; */
}

.header {
  margin-bottom: 16px;

  background-color: var(--dark-blue);
  color: white;
}

.header > .title {
  padding: 8px 16px;
  margin: 0 auto;

  display: block;
  max-width: var(--content-width);

  font-size: 24px;
  letter-spacing: 8px;
}

.main {
  padding: 0 16px;
  margin: 0 auto;

  max-width: var(--content-width);
}

.main > .section {
  margin-bottom: 24px;
}

.section > .title {
  margin-bottom: 16px;
  padding-bottom: 8px;

  font-size: 20px;
  border-bottom: solid 1px var(--dark-blue);

  text-transform: uppercase;
  letter-spacing: 6px;
}

.list {
  margin: 0 0 16px 16px;
}

.skill-item {
  display: inline-block;

  padding: 0px 8px;
  margin-bottom: 8px;

  background-color: #ececec;
}

.position {
  display: flex;

  justify-content: space-between;
  align-items: center;

  flex-shrink: 0;
  letter-spacing: 2px;
}

.position::after {
  min-width: 0;

  font-size: 14px;
  font-weight: normal;
  content: attr(data-from) " - " attr(data-to);
}

.link {
  color: var(--dark-blue);
}

.footer {
  padding-bottom: 16px;

  background-color: #ececec;
}

.footer > .title {
  margin: 0 auto;

  max-width: var(--content-width);

  font-size: 20px;
  border-bottom: solid 1px var(--dark-blue);
  text-transform: uppercase;
  letter-spacing: 6px;
}

.footer > .list {
  margin: 0 auto;
  padding: 16px;

  max-width: var(--content-width);
  list-style: none;
}

.footer .list-item {
  margin-bottom: 16px;
  padding-bottom: 8px;

  line-height: 1.5;
  border-bottom: 1px solid var(--dark-blue);
}

footer .list-item-title {
  font-weight: bolder;
  font-size: 18px;
}

.text-center {
  text-align: center;
}
