* {
    box-sizing: border-box;
    font-family: 微軟正黑體;
    position: relative;
    vertical-align: top;
    -webkit-print-color-adjust: exact;
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.container {
    margin: 0 auto;
    padding: 0 1.5rem;
    max-width: 820px;
}

ol,
ul {
    padding-left: 1.5em;
    margin-top: 0;
}

ol > li,
ul > li {
    line-height: 1.8em;
    padding-left: 0.5em;
}

.wrapper {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    min-height: 100vh;
    background-color: #ececec;
}

.header {
    text-align: center;
    background-color: #2f393b;
    color: white;
    padding: 2em;
    height: 280px;
}

.header > p {
    font-size: 120%;
    font-weight: 900;
    padding: 1em;
    margin: 0;
}

.header > h1 {
    font-size: 3em;
    letter-spacing: 1em;
    padding: 0 4em 1em 5em;
    margin: 0;
    display: inline-block;
    border-bottom: solid 1px white;
}

.header > h3 {
    margin: 0.5em;
}

.header > h3 > span {
    padding: 0.5em;
    padding-left: 1.5em;
    border: solid 1px white;
    letter-spacing: 1em;
    top: -1.2em;
    background-color: #2f393b;
}

.aside {
    box-sizing: border-box;
    text-align: left;
    background-color: #ececec;
    padding-bottom: 50px;
}

.avatar {
    border-radius: 100%;
    display: inline-block;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 3em;
}

.avatar > img {
    width: 180px;
    height: 180px;
}

.title {
    border-bottom: solid 1px #2f393b;
    padding-bottom: 0.5em;
    padding-top: 1em;
    letter-spacing: 5px;
}

.aside > .container > .title {
    margin-bottom: 0;
}

.aside > .container > ul {
    margin-top: 0;
    list-style: none;
    padding: 0;
}

.aside > .container > ul > li {
    border-bottom: solid 1px #2f393b;
    padding: 0.5em 0;
}

.aside > .container span {
    display: inline-block;
    word-wrap: break-word;
    width: 70%;
}

.aside > .container span.label {
    width: 30%;
    font-weight: 600;
}

.aside a {
    text-decoration: none;
}

.main {
    box-sizing: border-box;
    background-color: white;
}

.main > p {
    line-height: 1.7em;
    white-space: pre-line;
}

.rollout {
    position: absolute;
}

.work {
    border-left: solid 3px #ececec;
    padding: 0 0 1em 2em;
    margin-left: 70px;
    top: 10px;
}

.work > .label {
    margin: 0;
    padding-bottom: 0.5em;
    letter-spacing: 2px;
}

.work > p {
    margin: 0;
}

.work > .time-flag,
.work h3,
.work h4,
.work p {
    top: -10px;
}

.time-flag {
    position: absolute;
    display: inline-block;
    left: -5.65em;
    font-size: 12px;
}

.time-flag span {
    background-color: #2f393b;
    color: white;
    padding: 3px 0.5em 3px 1em;
    display: inline-block;
    height: 22px;
    width: 48px;
    line-height: 17px;
}

.time-flag span:after {
    content: '';
    position: absolute;
    top: 0;
    right: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 11px 0 11px 10px;
    border-color: transparent transparent transparent #2f393b;
}

.time-flag p {
    padding-left: 1em;
}

.time-point {
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    border-radius: 100%;
    background-color: #2f393b;
    left: 1em;
    top: 0.6em;
}

.tag {
    display: inline-block;
    background-color: #2f393b;
    color: white;
    margin: 5px;
    padding: 3px 5px;
}

a {
    color: #2f393b;
}

.btn {
    text-decoration: none;
    display: inline-block;
    background-color: #2f393b;
    color: white;
    padding: 5px 10px;
    margin: 0.75em 0.5em 0 0;
    transition: 0.25s;
    border: solid 1px #2f393b;
    line-height: 1em;
}

.btn:hover {
    color: #2f393b;
    background-color: #ececec;
}

.footer {
    background-color: #2f393b;
    padding: 2em;
    color: white;
    text-align: center;
}

@media (max-width: 767px) {
    .header > h1 {
        padding: 0px 0.5em 1em 1.5em;
    }

    .header > h3 > span {
        letter-spacing: 0.5em;
    }

    .work {
        margin: 0;
        border: none;
        padding: 0;
        padding-bottom: 1em;
    }

    .work > .label {
        margin-left: 2em;
    }

    .time-flag {
        left: -2.5em;
    }

    .time-point {
        display: none;
    }

    .aside > .container span {
        display: block;
        width: auto;
    }
}
